<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>Ryan_Sports_Club</title>

</head>

<body>
    <div class="container">
        <div style="margin-bottom: 15px;">
            <h1 style="color: #fd2222;font-family:Georgia, 'Times New Roman', Times, serif;margin: 20px 0 20px 30px;">F1 breaks ground in Hanoi ahead of 2020 Vietnam Grand Prix</h1>
            <strong><i style="float: right;">14/04/20</i></strong>
        </div>

        <video style="width:950px;height:600px;margin-left: 60px;" controls autoplay>
            <source src="../../video/f1.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video><br/>
        <div style="margin: 80px auto;width: 1000px;">
            <b><p  >Formula 1 witnessed a ground-breaking event – literally – on March 21 as construction work officially commenced on the Hanoi Circuit, the track that will host the 2020 Vietnam Grand Prix, the country’s first ever F1 race.</p></b>
            <p style="margin-top: 40px;">Set to become the fourth proper street race on the F1 calendar next year, alongside Monaco, Singapore and Azerbaijan, the Hanoi track will run to 5.57km and feature 22 corners, some of them borrowing heavily from iconic tracks like Suzuka
                and the Nurburgring.</p>
            <p>Everything you need to know about the new Vietnam street circuit</p>
            <b><p>From 2020, an exciting new venue will adorn F1’s calendar as Vietnam plays host to a dazzling new street circuit in the beating heart of its iconic and culturally rich capital city Hanoi…</p></b>
            <p>Vietnam will become F1’s fourth street race, joining Monaco, Singapore and Azerbaijan with its unique 22-turn, 5.565km track. It will also be the fourth race in Asia, joining China, Japan and Singapore.</p>
            <p>F1’s Motorsports team have worked with renowned circuit design company Tilke to create a semi-permanent street track, using both existing and purpose-built roads.</p>
            <p>Let’s take a look at what we can expect come April 2020...</p>
            <h4>Inspiration from all over the world</h4>
            <p>F1 is blessed with a plethora of stunning turns and corner sequences scattered across the world’s great racing circuits, so in creating a new track, it makes sense to take inspiration from them.</p>
            <p>That’s what the architects of the Circuit of The Americas, the current home of the United States Grand Prix, did. They drew creativeness from the quick Maggotts-Becketts-Chapel sequence at Silverstone and Istanbul’s multi-apex Turn 8 among
                others.
            </p>
            <p>The same strategy was employed for Vietnam’s new track, located on the western side of the city in the vicinity of the My Dinh National Stadium. And that means it’s not your typical street circuit – far from it…</p>
            <p>The aim was to create a unique hybrid layout, fusing a street circuit’s characteristics with a permanent countryside track layout within the confines of the city’s topography.</p>
            <p>There was a real desire to steer away from humdrum 90-degree road-junction type corners and foster a layout that facilitates wheel-to-wheel racing while retaining a closed-in street feel that makes city race tracks so demanding for drivers.</p>
            <img src="../../img/event/f1_1.jpg" style="width:900px;height:600px;margin:20px auto;">
            <p>Turns 1 and 2 are based on the opening corners at Germany’s Nurburgring – known as a red zone for overtaking. In 2006, you may remember Juan Pablo Montoya sweeping by Giancarlo Fisichella by using the long straight for slipstream and completing
                his pass in the braking zone for Turn 1.</p>
            <img src="../../img/event/f1_2.jpg" style="width:900px;height:600px;margin:20px auto;">
        </div>
    </div>

</body>

</html>