<!-- BEGIN: LIST -->
<div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
        <form>
            <div class="input-group">
                <input id="Key21" type="text" width="90%" class="form-control" name="txtKey" placeholder="Search">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
        </form>
    </div>
    <!-- <div class="col-md-1"></div> -->
</div>
<hr>
<table class="table text-center" id="listing21">
    <thead>
        <tr>
            <th scope="col">Nbr</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Content</th>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
            <th scope="col">Answer</th>
        </tr>
    </thead>
    <!-- BEGIN: LS -->
    <tbody>
        <tr>
            <td style="width: 50px;">{LS.nbr}</td>
            <td style="width: 100px;">{LS.fb_user_name}</td>
            <td>{LS.fb_user_email}</td>

            <td>{LS.fb_content}</td>
            <td>{LS.fb_date}</td>
            <td>{LS.duration}</td>
            <td>
                <a href="?m=feedback&a=answer&id={LS.fb_id}" class="btn btn-primary rounded" style="margin-right: 15px;background-color: rgb(67, 126, 235);"><i class="fas fa-pencil-alt" style="font-size: 16px;"></i></a>
                <!-- <a class="btn btn-primary rounded" style="background-color: rgb(240, 32, 25);" href="javascript:void(0)" onclick='onDelete("feedback","delete","{LS.fe_id}")'><i class="fas fa-trash-alt" style="font-size: 16px;"></i></a> -->
            </td>
        </tr>
    </tbody>
    <!-- END: LS -->
</table>
<hr/>
<table style="margin:10px auto;">
    <tr>
        <td class="active border border-secondary btn">
            <a href="?m=feedback&a=list&page={pre_page}" style=" padding: 5px 10px 5px 10px;text-decoration: none;color:#000">Prev</a>
        </td>
        <!-- BEGIN: LOP1 -->
        <td>
            <span>{lii}</span>
        </td>
        <!-- END: LOP1 -->
        <!-- BEGIN: PA -->
        <td class=" border border-secondary btn" {bg}>
            <a href="?m=feedback&a=list&page={page}" style="padding: 5px 10px 5px 10px;text-decoration: none;color:rgb(0, 0, 0)">{i}</a>
        </td>
        <!-- END: PA -->
        <!-- BEGIN: LOP -->
        <td>
            <span>{li}</span>
        </td>
        <!-- END: LOP -->
        <td class="border border-secondary btn">
            <a href="?m=feedback&a=list&page={next_page}" style=" padding: 5px 10px 5px 10px;text-decoration: none;color:#000;">Next</a>
        </td>
    </tr>
</table>
<!-- END: LIST -->