<!-- BEGIN: READ -->
<div class="container rounded" style="background-color: rgb(241, 240, 240);padding-bottom: 20px;">
    <div class="row">
        <div class="col-md-12" style="margin: 15px 0 5px 15px;">
            <h2 style="color: rgb(85, 82, 82);font-family:Georgia, 'Times New Roman', Times, serif">{READ.pos_title}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
            <i><b>
                <span class="float-right" style="color: rgb(117, 117, 117);">{READ.pos_date}</span>
            </b></i>
        </div>
    </div>
    <hr style="border: 1px solid rgb(48, 48, 48);" />
    <div class="toor container-fluid view">
        <p>{READ.pos_content}</p>
    </div>
</div>
<!-- END: READ -->