<!-- BEGIN: LOGOUT -->
<li class="nav-item dropdown" style="font-size: 20px;">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"><span class="fas fa-user" style="margin-right: 5px;"></span>
            {user_name}
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="?a=profile">Profile</a>
            <a class="dropdown-item" href="?a=my_post">My Post</a>
            <a class="dropdown-item" href="?a=add_post">New Post</a>
        </div>
</li>
<li class="nav-item">
    <a class="nav-link" href="{baseUrl}/CNPM/logout.php" style="font-size: 20px;"><button class="btn btn-warning">Log out</button></a>
</li>
<!-- END: LOGOUT -->