<!-- BEGIN: UPLOAD -->
{mess_error}
<hr><h3 class="text-center">UPDATE FILE</h3><hr>
<div class="container" style="border: 1px solid black;border-radius: 10px;">
    <br> 
    <form method="POST" enctype="multipart/form-data" id='myForm'>
        <div class="row">
            <div class="col-md-4 text-center">
                <h5>Lớp </h5>
            </div>
            <div class="col-md-8 text-center">
                {lsCategory}<br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <h5>Loại tài liệu </h5>
            </div>
            <div class="col-md-8 text-center">
                {lsType}<br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <h5>Số câu hỏi</h5>
            </div>
            <div class="col-md-8">
                <input type="number" class="form-control" name="txtNumOfQuestion" value="{UPLOAD.num_of_question}" id="NumOfQuestion" min="1" max="100" style="width: 100px;height: 35px;line-height: 30px;" required>
            </div>
        </div><br>
        <div class="row">
            <div class="col-md-4 text-center">
                <h5>Title</h5>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" name="txtPostName" id="PostName" value="{UPLOAD.test_title}" placeholder="Post's Title..." style="width: 500px;height: 35px;line-height: 30px;" required>
            </div>
        </div><br>
        <div class="row">
            <div class="col-md-4 text-center">
                <h5>Description</h5>
            </div>
            <div class="col-md-8">
                <textarea class="form-control" name="txtShortContent" id="ShortContent" placeholder="Your Description" style="width: 500px;height: 200px;" required>{UPLOAD.test_description}</textarea>
            </div>
        </div><br>
        <!-- <div class="row">
            <div class="col-md-4 text-center">
                <h5>Content</h5>
            </div>
            <div class="col-md-8">
                <textarea class="form-control" name="txtContent" id="Content" value="" required placeholder="Your short content" style="width: 500px;height: 150px;"></textarea>
            </div>
        </div><br> -->
        <div class="text-center">
            <input class="btn btn-primary" name="Submit" id="btnSubmit" value="UPDATE" style="width: 250px;height: 45px;background-color: cornflowerblue;">
        </div>
        <div class="container-fluid" id="errorMess"></div>
    </form>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Nộp bài</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <p>Bạn có chắc chắn muốn lưu sửa đổi này?</p>
            </div>
            <div class="modal-footer">
              <input type="button" class="btn btn-primary" id="btnend" value="Nộp">
              <input type="button" class="btn btn-warning" data-dismiss="modal" value="Hủy">
            </div>
          </div>
          
        </div>
    </div>
    <br><br>
    <script>
        CKEDITOR.replace('ShortContent');
        $("#btnSubmit").click(function(){
            $("#myModal").modal("show");
        });
        $("#btnend").click(function(){
            document.getElementById("myForm").submit();
        });
    </script>
</div>
<!-- END: UPLOAD -->