<!-- BEGIN: ANSWER -->
<hr>
<h2 class="text-center">Đáp án {title}</h2>
<hr>
<div class="container">
<form method="POST" id = "test_form">
<table class="table table-striped" style="text-align: center;">
    <tr>
        <th>Question</th>
        <th>A</td>
        <th>B</td>
        <th>C</td>
        <th>D</td>
        </tr>
        {Answer}
        <tr>
            <td colspan="5"><input type="submit" class="btn btn-primary" value="Submit" name="Submit" id="btnsubmit"></td>
        </tr>
</table>
</form>
</div>
<!-- END: ANSWER -->