<!-- BEGIN: LIST -->
<h2 class="center">Danh mục tài liệu ôn tập {class}</h2>
<div class="container-fluid">
    {list}
</div>
<!-- <div class="row">
    <div class="col-md-2">
      <img src="pdf_logo.jpg" class='rounded' style='width: 80%;height: 200px;'>
    </div>
    <div class="col-md-4">
      <h4>The title is here</h4>
      <p>Here is the main ........</p>
      <button type="button" class="btn btn-primary"><span class="fas fa-eye" style="margin-right: 5px;"></span>Xem trước</button>
      <button type="button" class="btn btn-danger"><span class="fas fa-download" style="margin-right: 5px;"></span>Download</button>
    </div>
    <div class="col-md-2">
      <img src="pdf_logo.jpg" class='rounded' style='width: 80%;height: 200px;'>
    </div>
    <div class="col-md-4">
      <h4>The title is here</h4>
      <p>Here is the main ........</p>
      <button type="button" class="btn btn-primary"><span class="fas fa-eye" style="margin-right: 5px;"></span>Xem trước</button>
      <button type="button" class="btn btn-danger"><span class="fas fa-download" style="margin-right: 5px;"></span>Download</button>
    </div>
</div> -->
<!-- END: LIST -->