<!-- BEGIN: PROFILE-->
<div class="container" style="border: 1px solid black;border-radius: 10px;padding: 5px;margin-top: 40px;">
    <!-- BEGIN: LS -->
        <div class="row">
            <div class="col-md-4">
                <img src="{LS.user_avatar}" style="width: 100%;">
            </div>
            <div class="col-md-8">
                <h3>INFORMATION</h3>
                <table class="table">
                    <tr>
                        <td><h4>User name: </h4><span>{LS.user_name}</span></td>
                        <td><h4>User email: </h4><span>{LS.user_email}</span></td>
                    </tr>
                    <tr>
                        <td><h4>User phone: </h4><span>{LS.user_phone}</span></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    <!-- END: LS -->
</div>
<!-- END: PROFILE -->