<!-- BEGIN: UPLOAD -->
{mess_error}
<hr><h3 class="text-center">NEW FILE</h3><hr>
<div class="container" style="border: 1px solid black;border-radius: 10px;">
    <br> 
    <form method="POST" enctype="multipart/form-data" id='myForm'>
        <div class="row">
            <div class="col-md-4 text-center">
                <h5>Lớp </h5>
            </div>
            <div class="col-md-8 text-center">
                {lsCategory}<br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <h5>Loại tài liệu </h5>
            </div>
            <div class="col-md-8 text-center">
                {lsType}<br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <h5>Số câu hỏi</h5>
            </div>
            <div class="col-md-8">
                <input type="number" class="form-control" name="txtNumOfQuestion" id="NumOfQuestion" min="1" max="100" style="width: 100px;height: 35px;line-height: 30px;" required>
            </div>
        </div><br>
        <div class="row">
            <div class="col-md-4 text-center">
                <h5>Title</h5>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" name="txtPostName" id="PostName" value="" placeholder="Post's Title..." style="width: 500px;height: 35px;line-height: 30px;" required>
            </div>
        </div><br>
        <div class="row">
            <div class="col-md-4 text-center">
                <h5>Description</h5>
            </div>
            <div class="col-md-8">
                <textarea class="form-control" name="txtShortContent" id="ShortContent" value="" placeholder="Your Description" style="width: 500px;height: 200px;" required></textarea>
            </div>
        </div><br>
        <!-- <div class="row">
            <div class="col-md-4 text-center">
                <h5>Content</h5>
            </div>
            <div class="col-md-8">
                <textarea class="form-control" name="txtContent" id="Content" value="" required placeholder="Your short content" style="width: 500px;height: 150px;"></textarea>
            </div>
        </div><br> -->
        <div class="row">
            <div class="col-md-4 text-center">
                <h5>Source File</h5>
            </div>
            <div class="col-md-8">
                <input type="file" name="file[]" multiple id="PFile">
            </div>
        </div><br>
        <div class="text-center">
            <button class="btn btn-primary" name="Submit" id="btnSubmit" style="width: 250px;height: 45px;background-color: cornflowerblue;">POST</button>
        </div>
        <div class="container-fluid" id="errorMess"></div>
    </form>
    <br><br>
    <script>
        CKEDITOR.replace( 'ShortContent' );
        CKEDITOR.replace( 'Content' );
    </script>
</div>
<!-- END: UPLOAD -->