<!-- BEGIN: PWD -->
<form method="POST">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 border border-primary" style="border-radius: 10px 10px;padding: 30px 10px 30px 10px;">
            <div class="input-group-prepend">
                <span class="input-group-text" style="width: 343.39px;"><i>Current Password</i></span>
                <input class="form-control" name="txtCPwd" type="password" required>
            </div>
            <span class="mestext">{er_cp}</span>
            <div class="input-group-prepend" style="margin-top: 25px;">
                <span class="input-group-text" style="width: 343.39px;"><i>New Password</i></span>
                <input class="form-control" name="txtNPwd" type="password" required>
            </div>
            <span class="mestext">{er_np}</span>
            <div class="input-group-prepend" style="margin-top: 25px;">
                <span class="input-group-text"><i>Repeat the new password</i></span>
                <input class="form-control" name="txtCon" type="password" required>
            </div>
            <span class="mestext">{er_co}</span>
            <div class="text-center mx-auto" style="margin-top: 25px;">
                <button class="btn btn-success" style="width:180px">OK</button>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

</form>
<!-- END: PWD -->