<!-- BEGIN: READ -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <!-- <div id="demo" class="carousel slide" data-ride="carousel" style="z-index: 1;">

               
                <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                </ul>

               
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{img0}" alt="Los Angeles" width="100%" height="665px">
                    </div>
                    <div class="carousel-item">
                        <img src="{img1}" alt="New York" width="100%" height="665px">
                    </div>
                    <div class="carousel-item">
                        <img src="{img2}" alt="New York" width="100%" height="665px">
                    </div>
                    <div class="carousel-item">
                        <img src="{img3}" alt="New York" width="100%" height="665px">
                    </div>
                    <div class="carousel-item">
                        <img src="{img4}" alt="New York" width="100%" height="665px">
                    </div>
                </div>

              
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>

            </div> -->

            <video style="height:462px;" class="form-control" controls autoplay>
                <source src="{video}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="col-md-4">
            <!-- <audio controls autoplay class="float-right">
                <source src="./../mp3/xx.mp3" type="audio/mpeg">
            </audio> -->
            <a href="?m=gallery&a=update" class="btn btn-success float-right" style="width: 300px;font-size: 16px;margin-top: 50px;border-radius: 8px 8px;">
                <i class="fas fa-cloud-upload-alt" style="margin-right: 15px;"></i>Update Images of Home Page
            </a>
            <a href="?m=events&a=list" class="btn btn-success float-right" style="width: 300px;font-size: 16px;margin-top: 50px;border-radius: 8px 8px;">
                <i class="fas fa-newspaper" style="margin-right: 15px;"></i>List Events
            </a>


            <a href="?m=posts&a=list" class="btn btn-success float-right" style="width: 300px;font-size: 16px;margin-top: 50px;border-radius: 8px 8px;">
                <i class="fas fa-newspaper" style="margin-right: 15px;"></i>List Posts
            </a>


            <a href="?m=gallery&a=list" class="btn btn-success float-right" style="width: 300px;font-size: 16px;margin-top: 50px;border-radius: 8px 8px;">
                <i class="fas fa-newspaper" style="margin-right: 15px;"></i>List Gallery
            </a>


            <a href="?m=users&a=list" class="btn btn-success float-right" style="width: 300px;font-size: 16px;margin-top: 50px;border-radius: 8px 8px;">
                <i class="fas fa-newspaper" style="margin-right: 15px;"></i>List User
            </a>

        </div>
    </div>
    <br/>
</div>
<!-- END: READ -->
<!-- background-image: url('./../img/bg.jpg');opacity: 0.75; -->