<!-- BEGIN: READ -->
<div class="container rounded" style="background-color: rgb(245, 237, 237);padding-bottom: 20px;">

    <div class="row">
        <div class="col-md-12" style="margin: 15px 0 5px 15px;">
            <h2 style="color: rgb(85, 82, 82);font-family:Georgia, 'Times New Roman', Times, serif">{READ.even_title}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7"></div>
        <div class="col-md-5">
            <i><b>
                <span class="float-right" style="color: rgb(117, 117, 117);">Post by : {READ.ad_name}</span>
            </b></i>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <i><b>
                <span class="float-right" style="color: rgb(117, 117, 117);">Date Start : {READ.even_date_start}</span>
            </b></i>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4" style="margin-top: 5px;">
            <i><b>
                <span class="float-right" style="color: rgb(117, 117, 117);">Date End : {READ.even_date_end}</span>
            </b></i>
        </div>
    </div>
    <hr style="border: 1px solid rgb(48, 48, 48);" />
    <div>
        <!-- <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <img class="img-thumnail form-control" src="{img}" />
            </div>
            <div class="col-md-2"></div>
        </div> -->
        <div class="toor container-fluid view">
            {READ.even_content}
        </div>

    </div>
</div>
<!-- END: READ -->